<nav
  class="navbar bg-dark border-bottom border-bottom-dark"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <div class="name">
      <a class="navbar-brand" href="#">Conjunto Generador</a>
    </div>
  </div>
</nav>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="./../assets/Conjunto.png" />
    </div>
    <div class="row">
      <p>Los temas más relevantes sobre Inteligencia Artificial</p>
    </div>

    <div class="container mb-5">
      <div class="row">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
          <div class="card" style="width: 18rem">
            <img src="./../assets/Conjunto.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Computer Vision</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
          <div class="card" style="width: 18rem">
            <img src="./../assets/Conjunto.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Herramientas y bibliotecas de IA</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer bg-dark text-light pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 Conjunto Generador. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-md-right">
        <p>Desarrollado por <a href="https://www.genconjunto.com">GenConjunto</a></p>
      </div>
    </div>
  </div>
</footer>
